<div class="container">
    <h1 style="text-align: center;">Політика конфіденційності</h1>
    <div class="row">
        <div class="col s12">
            <div class="card black-text">
                <div class="card-content">
                    <span class="card-title">
                        <h3>Вступ</h3>
                    </span>
                    <h5>
                        Наш сайт Py201 поважає вашу конфіденційність і прагне захистити ваші особисті дані. У цій
                        політиці конфіденційності пояснюється, як ми збираємо і використовуємо ваші особисті дані,
                        коли ви відвідуєте наш сайт.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card black-text">
                <div class="card-content">
                    <span class="card-title">
                        <h3>Збір даних</h3>
                    </span>
                    <h5>
                        Ми збираємо різні дані, коли ви відвідуєте наш сайт. Це може включати інформацію, яку ви
                        надаєте нам, наприклад, ваше ім'я та адресу електронної пошти, і інформацію, яку ми збираємо
                        автоматично, коли ви використовуєте наш сайт, наприклад, ваш IP-адрес і інформацію про ваш
                        браузер.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card black-text">
                <div class="card-content">
                    <span class="card-title">
                        <h3>Використання даних</h3>
                    </span>
                    <h5>
                        Ми використовуємо зібрані дані для різних цілей, таких як поліпшення нашого сайту,
                        управління вашим обліковим записом, надання вам інформації та продуктів, які ви запросили, і
                        для маркетингових цілей.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card black-text">
                <div class="card-content">
                    <span class="card-title">
                        <h3>Розкриття даних</h3>
                    </span>
                    <h5>
                        Ми не продаємо ваші особисті дані третім сторонам. Ми можемо передавати ваші дані нашим
                        партнерам і постачальникам послуг, якщо це необхідно для надання вам послуг або продуктів,
                        які ви запросили.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card black-text">
                <div class="card-content">
                    <span class="card-title">
                        <h3>Ваші права</h3>
                    </span>
                    <h5>
                        Ви маєте право запросити доступ до своїх особистих даних, виправлення або видалення ваших
                        даних, а також право заперечувати проти використання ваших даних для певних цілей.
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card black-text">
                <div class="card-content">
                    <span class="card-title">
                        <h3>Контакти</h3>
                    </span>
                    <h5>
                        Якщо у вас є питання або зауваження щодо нашої політики конфіденційності, будь ласка, зв'яжіться
                        з нами
                        <code>py201@admin.com</code>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>