<table>
    <thead>
        <tr>
            <th>Photo</th>
            <th>ID</th>
            <th>Price</th>
            <th>Name</th>
            <th>Count</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
          <tr>
            <td><img src="/img/box1.png" width="200" height="150"></td>
            <td>123543</td>
            <td>₴40</td>
            <td>Товар</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn red accent-2">Замовити</a></td>
          </tr>
    </tbody>
</table>